.competences{
    width: 100%;
    padding: 10px;
    background-color:$color-background-divison;

    span{
        font-weight: bold;
    }
}

#progress{
    width: 100%;
    margin: auto;
}


#progress span:nth-child(2){
    float:right;
}

progress {
    width: 100%;
    height: 22px;
    background-color: $color-background-progress;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: $color-border-progress;   /* Couleur de la bordure  */
    padding: 3px 3px 3px 3px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}
   
progress::-webkit-progress-bar {
    background: $color-background-progress-bar ;
}
   
progress::-webkit-progress-value {
    background: $color-background-body;
}