$color-background-body: #008ae6;
$color-background-divison: white;
$color-background-progress-bar: #f3f3f3;
$color-background-progress: white;
$color-border-progress: #dddddd;
$color-a: black;
$color-texte: black;
$color-titre: black;